<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>LiftFlow - Create Jar</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->

<!--    <link-->
<!--      rel="canonical"-->
<!--      href="https://getbootstrap.com/docs/5.3/examples/headers/"-->
<!--    />-->
<!--    <link-->
<!--      rel="canonical"-->
<!--      href="https://getbootstrap.com/docs/5.3/examples/footers/"-->
<!--    />-->

<!--    <script src="assets/js/color-modes.js"></script>-->
<!--    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet" />-->
<!--    <meta name="theme-color" content="#712cf9" />-->
<!--    <link href="stylesheets/style.css" rel="stylesheet" />-->


<!--    <link href="stylesheets/headers.css" rel="stylesheet" />-->
<!--    <link href="stylesheets/sticky-footer.css" rel="stylesheet" />-->

<!--  </head>-->
<!--  <body class="">-->
<!--    &lt;!&ndash; col-sm-12 col-md-8 col-lg-6 mx-auto &ndash;&gt;-->








<!--    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">-->
<!--      <symbol id="check2" viewBox="0 0 16 16">-->
<!--        <path-->
<!--          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"-->
<!--        ></path>-->
<!--      </symbol>-->
<!--      <symbol id="circle-half" viewBox="0 0 16 16">-->
<!--        <path-->
<!--          d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"-->
<!--        ></path>-->
<!--      </symbol>-->
<!--      <symbol id="moon-stars-fill" viewBox="0 0 16 16">-->
<!--        <path-->
<!--          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"-->
<!--        ></path>-->
<!--        <path-->
<!--          d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"-->
<!--        ></path>-->
<!--      </symbol>-->
<!--      <symbol id="sun-fill" viewBox="0 0 16 16">-->
<!--        <path-->
<!--          d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"-->
<!--        ></path>-->
<!--      </symbol>-->
<!--    </svg>-->
















<!--    &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; HEADER &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--    <header-->
<!--          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-body-tertiary p-3"-->
<!--        >-->
<!--          <div class="col-md-3 mb-2 mb-md-0">-->
<!--            <a-->
<!--              href="images/logo.jpg"-->
<!--              class="d-inline-flex link-body-emphasis text-decoration-none"-->
<!--            >-->
<!--              &lt;!&ndash; <svg-->
<!--                class="bi"-->
<!--                width="40"-->
<!--                height="32"-->
<!--                role="img"-->
<!--                aria-label="Bootstrap"-->
<!--              >-->
<!--                <use xlink:href="#bootstrap"></use>-->
<!--              </svg> &ndash;&gt;-->

<!--              <img th:src="@{/images/logo.jpg}"-->
<!--                    alt="Bootstrap"-->
<!--                    width="40"-->
<!--                    height="32"-->
<!--                >-->

<!--            </a>-->
<!--          </div>-->
<!--          <ul-->
<!--            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"-->
<!--          >-->
<!--            <li><a href="#" class="nav-link px-2 link-secondary">LiftFlow</a></li>-->
<!--            <li><a href="#" class="nav-link px-2">Donate</a></li>-->
<!--            <li><a href="#" class="nav-link px-2">Raise</a></li>-->
<!--            <li><a href="#" class="nav-link px-2">FAQs</a></li>-->
<!--            <li><a href="#" class="nav-link px-2">Contact</a></li>-->
<!--          </ul>-->
<!--          <div class="col-md-3 text-end">-->
<!--            <button type="button" class="btn btn-outline-primary me-2">-->
<!--              Login-->
<!--            </button>-->
<!--            <button type="button" class="btn btn-primary">Sign-up</button>-->
<!--          </div>-->
<!--    </header>-->
<!--    &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--    <main>-->










<!--        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; FORM &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->

<!--        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">-->
<!--            <h1 class="display-4 fw-normal text-body-emphasis">JARS</h1>-->
<!--            <p class="fs-5 text-body-secondary">-->
<!--                Quickly build an effective pricing table for your potential-->
<!--                customers with this Bootstrap example. It’s built with default-->
<!--                Bootstrap components and utilities with little customization.-->
<!--            </p>-->
<!--        </div>-->

<!--        <form class="container shadow-sm col-8">-->
<!--            <div class="mb-3">-->
<!--                <label for="exampleInputEmail1" class="form-label">Jar Name</label>-->
<!--                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                <div id="emailHelp" class="form-text">Give short name for your jar.</div>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Description</label>-->
<!--                <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--            </div>-->

<!--            <div class="mb-3 form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->

<!--            <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend">-->
<!--                    <span class="input-group-text">$</span>-->
<!--                </div>-->
<!--                <input type="text" placeholder="Enter amount you would like to raise" class="form-control" aria-label="Amount (to the nearest dollar)">-->
<!--                <div class="input-group-append">-->
<!--                    <span class="input-group-text">.00</span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="container-fluid py-2 mb-3 g-0">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-lg-6 col-sm-12">-->
<!--                        <label for="startDate">Start</label>-->
<!--                        <input id="startDate" class="form-control" type="date" />-->
<!--                        <span id="startDateSelected"></span>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 col-sm-12">-->
<!--                        <label for="endDate">End</label>-->
<!--                        <input id="endDate" class="form-control" type="date" />-->
<!--                        <span id="endDateSelected"></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; https://www.codeply.com/p/zU0EWDmIfn &ndash;&gt;-->


<!--            <div class="text-center mb-3">-->
<!--                <button type="submit" class="btn btn-primary w-50">Submit</button>-->
<!--            </div>-->


<!--        </form>-->







<!--    </main>-->
























<!--    &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->



<!--    &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; FOOTER &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->

<!--    <footer class="footer mt-auto py-3 bg-body-tertiary">-->
<!--      <div class="container">-->









<!--        <div class="container">-->
<!--      <footer class="py-0 my-4">-->
<!--        <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link px-2 text-body-secondary">LiftFlow</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link px-2 text-body-secondary">Donate</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link px-2 text-body-secondary">Raise</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link px-2 text-body-secondary">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>-->
<!--      </footer>-->
<!--    </div>-->

<!--      </div>-->
<!--    </footer>-->





<!--    <script-->
<!--      src="../assets/dist/js/bootstrap.bundle.min.js"-->
<!--      class="astro-vvvwv3sm"-->
<!--    ></script>-->



<!--    &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->



<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LiftFlow - Create Jar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet" />
    <link href="stylesheets/headers.css" rel="stylesheet" />
    <link href="stylesheets/sticky-footer.css" rel="stylesheet" />
</head>
<body>

<!-- HEADER -->
<header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-body-tertiary p-3"
>
    <div class="col-md-3 mb-2 mb-md-0">
        <a
                href="images/logo.jpg"
                class="d-inline-flex link-body-emphasis text-decoration-none"
        >
            <!-- <svg
              class="bi"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg> -->

            <img th:src="@{/images/logo.jpg}"
                 alt="Bootstrap"
                 width="40"
                 height="32"
            >

        </a>
    </div>
    <ul
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
    >
        <li><a th:href="@{/}" class="nav-link px-2 link-secondary">LiftFlow</a></li>
        <li><a th:href="@{/jars}" class="nav-link px-2">Donate</a></li>
        <li><a th:href="@{/posts/}" class="nav-link px-2">Posts</a></li>
        <li><a th:href="@{/}" class="nav-link px-2">FAQs</a></li>
        <li><a th:href="@{/}" class="nav-link px-2">Contact</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <!--            <button type="button" class="btn btn-outline-primary me-2">-->
        <!--              Login-->
        <!--            </button>-->
        <!--            <button type="button" class="btn btn-primary">Sign-up</button>-->
    </div>
</header>



<!-- Success message -->
<div th:if="${successMessage}" class="alert alert-success">
    <span th:text="${successMessage}"></span>
</div>

<!-- Error message -->
<div th:if="${errorMessage}" class="alert alert-danger">
    <span th:text="${errorMessage}"></span>
</div>

<!-- MAIN FORM -->
<main class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Create Donation Jar</h1>
        <p class="fs-5 text-body-secondary">Fill out the form below to create a new donation jar.</p>
    </div>

    <form th:action="@{/jars}" th:object="${jar}" method="post" class="shadow-sm p-4 rounded col-lg-6 mx-auto">
        <div class="mb-3">
            <label for="jarName" class="form-label">Jar Name</label>
            <input type="text" th:field="*{jarName}" class="form-control" id="jarName" placeholder="Enter jar name" required />
            <div class="text-danger" th:errors="*{jarName}"></div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea th:field="*{description}" class="form-control" id="description" placeholder="Describe your jar"></textarea>
            <div class="text-danger" th:errors="*{description}"></div>
        </div>

        <div class="mb-3">
            <label for="targetAmount" class="form-label">Target Amount ($)</label>
            <input type="number" step="0.01" th:field="*{targetAmount}" class="form-control" id="targetAmount" placeholder="Enter target amount" required />
            <div class="text-danger" th:errors="*{targetAmount}"></div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" th:field="*{startDate}" class="form-control" id="startDate" required />
                <div class="text-danger" th:errors="*{startDate}"></div>
            </div>
            <div class="col-md-6">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" th:field="*{endDate}" class="form-control" id="endDate" />
                <div class="text-danger" th:errors="*{endDate}"></div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Create</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <a th:href="@{/jars}" class="btn btn-link">Back to List</a>
    </div>
</main>

<!-- ---------------------------- FOOTER ---------------------------------------- -->

<div class="container">
    <footer class="py-0 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">LiftFlow</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/jars}" class="nav-link px-2 text-body-secondary">Donate</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/posts/}" class="nav-link px-2 text-body-secondary">Posts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">Contact</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
</div>

</div>
</footer>

<script
        src="../assets/dist/js/bootstrap.bundle.min.js"
        class="astro-vvvwv3sm"
></script>

<!-- -------------------------------------------------------------------- -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
