<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Jar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="">

<!--<header-->
<!--        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-body-tertiary p-3"-->
<!--&gt;-->
<!--    <div class="col-md-3 mb-2 mb-md-0">-->
<!--        <a-->
<!--                href="images/logo.jpg"-->
<!--                class="d-inline-flex link-body-emphasis text-decoration-none"-->
<!--        >-->
<!--            &lt;!&ndash; <svg-->
<!--              class="bi"-->
<!--              width="40"-->
<!--              height="32"-->
<!--              role="img"-->
<!--              aria-label="Bootstrap"-->
<!--            >-->
<!--              <use xlink:href="#bootstrap"></use>-->
<!--            </svg> &ndash;&gt;-->

<!--            <img th:src="@{/images/logo.jpg}"-->
<!--                 alt="Bootstrap"-->
<!--                 width="40"-->
<!--                 height="32"-->
<!--            >-->

<!--        </a>-->
<!--    </div>-->
<!--    <ul-->
<!--            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"-->
<!--    >-->
<!--        <li><a th:href="@{/}" class="nav-link px-2 link-secondary">LiftFlow</a></li>-->
<!--        <li><a th:href="@{/templates/Jars}" class="nav-link px-2">Donate</a></li>-->
<!--        <li><a th:href="@{/posts/}" class="nav-link px-2">Posts</a></li>-->
<!--        <li><a th:href="@{/}" class="nav-link px-2">FAQs</a></li>-->
<!--        <li><a th:href="@{/}" class="nav-link px-2">Contact</a></li>-->
<!--    </ul>-->
<!--    <div class="col-md-3 text-end">-->
<!--        &lt;!&ndash;            <button type="button" class="btn btn-outline-primary me-2">&ndash;&gt;-->
<!--        &lt;!&ndash;              Login&ndash;&gt;-->
<!--        &lt;!&ndash;            </button>&ndash;&gt;-->
<!--        &lt;!&ndash;            <button type="button" class="btn btn-primary">Sign-up</button>&ndash;&gt;-->
<!--    </div>-->
<!--</header>-->

<nav class="navbar">
    <div class="nav-left"><a th:href="@{/dashboard}" class="brand">LiftFlow</a></div>
    <div class="nav-right">
        <form th:action="@{/logout}" method="post" style="display:inline">
            <a href="/jars" class="nav-btn" style="margin-right: 12px; margin-top: 3px;">Donate</a>
            <a href="/posts" class="nav-btn" style="margin-right: 12px; margin-top: 3px;">Posts</a>
            <a th:href="@{/donation/refund}" class="nav-btn" style="margin-right: 12px; margin-top: 3px;">
                Request refund
            </a>

            <button type="submit" class="nav-btn" style="margin-top: 3px;">Logout</button>
        </form>
    </div>
</nav>



<main class="container my-5">

    <h2 class="text-center">Edit Donation Jar</h2>

    <form th:action="@{/jars/edit/{id}(id=${jar.jarId})}" method="post" enctype="multipart/form-data" th:object="${jar}" class="shadow-sm p-4 rounded col-lg-6 mx-auto">

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{jarName}">
        </div>

        <div class="mb-3">
            <label class="form-label">Target Amount</label>
            <input type="number" class="form-control" th:field="*{targetAmount}">
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" th:field="*{description}"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Start Date</label>
            <input type="date" class="form-control" th:field="*{startDate}">
        </div>

        <div class="mb-3">
            <label class="form-label">End Date</label>
            <input type="date" class="form-control" th:field="*{endDate}">
        </div>

        <div class="row mb-3">
            <label for="imageFile" class="form-label">Image</label>
            <input type="file" id="imageFile" name="imageFile" accept="image/*" class="form-control"/>
<!--            <input type="file" name="imageFile" class="form-control">-->

        </div>

        <button type="submit" class="btn btn-primary">Save</button>

        <a th:href="@{/jars}" class="btn btn-secondary">Cancel</a>

    </form>


</main>


<!-- ---------------------------- FOOTER ---------------------------------------- -->

<div class="container">
    <footer class="py-0 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">LiftFlow</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/jars}" class="nav-link px-2 text-body-secondary">Donate</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/posts}" class="nav-link px-2 text-body-secondary">Posts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link px-2 text-body-secondary">Contact</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
</div>

</div>
</footer>

<script
        src="../assets/dist/js/bootstrap.bundle.min.js"
        class="astro-vvvwv3sm"
></script>

<!-- -------------------------------------------------------------------- -->

</body>
</html>
